<meta charset="utf-8"/>
<title>
	{% block title %}
		{{ page_title|default('Abeille solidaire - Espace Utilisateur') }}
	{% endblock %}
</title>

<meta
content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>

{# Fonts & Styles #}
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet"/> {% block stylesheets %}{% endblock %}

{{ importmap('app') }}
