<header class="flex lg:hidden items-center fixed z-10 top-0 start-0 end-0 shrink-0 bg-[--tw-page-bg] dark:bg-[--tw-page-bg-dark] h-[--tw-header-height]" id="header">
	<div class="container-fixed flex items-center justify-between flex-wrap gap-3">
		<a href="#">
			<img class="dark:hidden h-[50px]" src="{{ asset('images/app/logo-3.png') }}"/>
			<img class="hidden dark:block h-[42px]" src="{{ asset('images/app/logo-3.png') }}"/>
		</a>
		<button class="btn btn-icon btn-light btn-clear btn-sm -me-2" data-drawer-toggle="#sidebar">
			<i class="ki-filled ki-menu"></i>
		</button>
	</div>
</header>
