{# templates/pages/projects/index.html.twig #}
{% extends 'public/base.html.twig' %}

{% block title %}Projects - Qrowd Crowdfunding Platform{% endblock %}

{% block content %}
    {# Page Header #}
    {% include 'public/components/page-header.html.twig' with {
        title: 'Projects',
        breadcrumbs: [
            {label: 'Home', path: 'landing.home'},
            {label: 'Projects', path: null}
        ]
    } %}

    {# Project List Section #}
    <section class="project-page-one">
        <div class="container">
            <div class="row">
                {% for project in projects %}
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        {% include 'public/components/project-card.html.twig' with { project: project } %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
