<section class="changing-one changing-two">
    <div class="changing-one__bg" data-jarallax data-speed="0.2" data-imgPosition="50% 0%"
         style="background-image: url({{ asset('landing/images/backgrounds/changing-bg.jpg') }});">
    </div>
    <div class="container">
        <div class="changing-one__inner">
            <p class="changing-one__sub-title">Roundup of Standout Projects</p>
            <h2 class="changing-one__title">Qrowd is Changing the Way <br> New Ideas Come to Life</h2>
            <a href="{{ path('landing.projects.index') }}" class="thm-btn">Start a Project</a>
        </div>
    </div>
</section>