<section class="changing-one changing-two">
    <div class="changing-one__bg" data-jarallax data-speed="0.2" data-imgPosition="50% 0%"
         style="background-image: url({{ asset('landing/images/backgrounds/changing-bg.jpg') }});">
    </div>
    <div class="container">
        <div class="changing-one__inner">
            <p class="changing-one__sub-title">Des Projets qui Font la Différence</p>
            <h2 class="changing-one__title">Abeilles Solidaires Transforme <br> vos Idées en Réalité</h2>
            <a href="{{ path('landing.projects.index') }}" class="thm-btn">Lancer mon Projet</a>
        </div>
    </div>
</section>