<section class="team-one">
    <div class="container">
        <div class="section-title text-center">
            <span class="section-title__tagline">Notre Équipe</span>
            <h2 class="section-title__title">Une Équipe à Votre Service <br> Pour Vous Accompagner</h2>
        </div>
        <div class="row">
            {% for member in members %}
                <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="{{ loop.index * 100 }}ms">
                    {% include 'public/components/about/team-card.html.twig' with { member: member } %}
                </div>
            {% endfor %}
        </div>
    </div>
</section>