{# templates/components/faq/search.html.twig #}
<section class="faq-search">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="faq-search__inner">
                    <div class="section-title text-center">
                        <span class="section-title__tagline">Questions fréquemment posées</span>
                        <h2 class="section-title__title">Comment pouvons-nous vous aider ?</h2>
                    </div>
                    <form action="{{ path('landing.faq') }}" method="GET" class="faq__search-form">
                        <input type="search" name="q" value="{{ searchQuery|default('') }}" placeholder="Recherche">
                        <button type="submit"><i class="icon-magnifying-glass"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
