{# templates/components/faq/search.html.twig #}
<section class="faq-search">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="faq-search__inner">
                    <div class="section-title text-center">
                        <span class="section-title__tagline">Frequently asked questions</span>
                        <h2 class="section-title__title">How can We Help you?</h2>
                    </div>
                    <form action="#" class="faq__search-form">
                        <input type="search" name="q" placeholder="Search here anything..." required>
                        <button type="submit"><i class="icon-magnifying-glass"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
