<div class="flex flex-col">
	<div class="menu-item">
		<a class="menu-link" href="#">
			<span class="menu-icon">
				<i class="ki-filled ki-user"></i>
			</span>
			<span class="menu-title">Profil</span>
		</a>
	</div>

	<div class="menu-item">
		<a class="menu-link" href="#">
			<span class="menu-icon">
				<i class="ki-filled ki-shield-tick"></i>
			</span>
			<span class="menu-title">Vérification KYC</span>
		</a>
	</div>

	<div class="menu-item">
		<a class="menu-link" href="#">
			<span class="menu-icon">
				<i class="ki-filled ki-credit-cart"></i>
			</span>
			<span class="menu-title">Adhésion Annuelle</span>
			<span class="menu-badge">
				<i class="ki-filled ki-information-2 text-md text-gray-500"></i>
			</span>
		</a>
	</div>

	<div class="menu-item">
		<a class="menu-link" href="#">
			<span class="menu-icon">
				<i class="ki-filled ki-lock"></i>
			</span>
			<span class="menu-title">Sécurité</span>
		</a>
	</div>
</div>

<div class="menu-separator"></div>

<div class="flex flex-col">
	<div class="menu-item mb-0.5">
		<div class="menu-link">
			<span class="menu-icon">
				<i class="ki-filled ki-moon"></i>
			</span>
			<span class="menu-title">Mode Sombre</span>
			<label class="switch switch-sm">
				<input type="checkbox" data-theme-toggle="true" data-theme-state="dark" value="1"/>
			</label>
		</div>
	</div>

	<div class="menu-item px-4 py-1.5">
		<a class="btn btn-sm btn-light justify-center" href="{{ path('app.logout') }}">
			Déconnexion
		</a>
	</div>
</div>
