{% extends 'emails/base.html.twig' %}

{% block content %}
	<div style="text-align: center; margin-bottom: 30px;">
		<h2 style="color: var(--qrowd-primary);">Payment Confirmed! 🎉</h2>
	</div>

	<div class="info-box">
		<h3>Registration Payment Details</h3>
		<ul>
			<li>Amount: €25</li>
			<li>Payment Method:
				{{ paymentMethod|title }}</li>
			<li>Date:
				{{ "now"|date("d/m/Y H:i") }}</li>
		</ul>
	</div>

	<div style="margin: 30px 0;">
		<h3 style="color: var(--qrowd-primary);">Next Steps:</h3>
		<ul>
			<li>Complete your profile</li>
			<li>Add your project description</li>
			<li>Begin your journey in the Violette flower</li>
		</ul>
	</div>

	<div style="text-align: center;">
		<a href="{{ absolute_url(path('app.login')) }}" class="button">Login to Your Account</a>
	</div>
{% endblock %}
