{# templates/components/events/event-content.html.twig #}
<div class="event-details__left">
    <div class="event-details__content-one">
        <h3 class="event-details__content-one-title">{{ event.title }}</h3>
        <p class="event-details__content-one-text-1 text-justify">{{ event.content.description|raw }}</p>
        <div class="event-details__content-two">
            <h3 class="event-details__content-two-title">Event Requirements</h3>
            <p class="event-details__content-two-2 text-justify">{{ event.content.requirements|raw }}</p>
            <div class="event-details__btn-box">
                <a href="#" class="thm-btn event-details__btn">Join Event</a>
            </div>
        </div>
    </div>
</div>
