<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            Monthly donation & Withdraw Report
        </h3>
        <button class="btn btn-sm btn-icon btn-light btn-clear">
            <i class="ki-outline ki-dots-vertical">
            </i>
        </button>
    </div>
    <div class="px-3 py-1">
        <div id="area_chart">
        </div>
    </div>
</div>