{# templates/pages/events/index.html.twig #}
{% extends 'public/base.html.twig' %}

{% block title %}Événements - Abeilles Solidaires{% endblock %}

{% block content %}
    {# Include page header component #}
    {% include 'public/components/page-header.html.twig' with {
        title: 'Événements',
        subtitle: 'Découvrez nos prochains événements',
        breadcrumbs: [
            {label: 'Accueil', path: 'landing.home'},
            {label: 'Événements', path: null}
        ],
        class: 'page-header--large',
        background_image: 'assets/images/backgrounds/custom-bg.jpg',
        show_shapes: false,
        show_breadcrumbs: true
    } %}

    {# Events Grid Section #}
    <section class="events-page">
        <div class="container">
            <div class="row gy-4">
                {% for event in events %}
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        {% include 'public/components/events/event-card.html.twig' with {
                            event: event
                        } %}
                    </div>
                {% endfor %}
            </div>
            
            <div class="row mt-5">
                <div class="col-12 d-flex justify-content-center">
                    {{ knp_pagination_render(events, 'public/components/pagination.html.twig') }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
