{
    auto_https off
    admin 0.0.0.0:2019
}

:80 {
    root * /app/public
    php_server
    encode gzip
    file_server

    log {
        format console
        level DEBUG
    }

    # Handle PHP files through FrankenPHP
    @phpFiles {
        path *.php
    }
    reverse_proxy @phpFiles unix//var/run/php-fpm.sock {
        transport fastcgi {
            split .php
        }
    }
}
