{% extends 'admin/layouts/default.html.twig' %}

{% set page_title = 'Utilisateurs' %}

{% block content %}
    <div class="container-fixed">
        {# Stats Cards Grid #}
        <div class="grid grid-cols-1 gap-6">
            {# Main Content (Left Column) #}
            <div class="space-y-6">
                {% include 'admin/pages/user/partials/_list.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

