{# templates/components/project-details/review-form.html.twig #}
<div class="project-details__review-form">
    <h3 class="project-details__review-form-title">Donner votre Avis</h3>
    <div class="project-details__review-form-rate-box">
        <p>Noter ce Projet ?</p>
        <div class="project-details__review-rate">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </div>
    </div>
    <form action="#" method="post" class="project-details__review-form-one">
        <div class="row">
            <div class="col-xl-12">
                <div class="project-details__review-form-input-box text-message-box">
                    <textarea name="message" placeholder="Écrivez un commentaire" required></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <div class="project-details__review-form-input-box">
                    <input type="text" placeholder="Votre Nom" name="name" required>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="project-details__review-form-input-box">
                    <input type="email" placeholder="Adresse Email" name="email" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="project-details__review-form-btn-box">
                    <button type="submit" class="thm-btn project-details__review-form-btn">Envoyer l'Avis</button>
                </div>
            </div>
        </div>
    </form>
</div>
