{# templates/components/project-details/rewards.html.twig #}
<div class="project-details__rewards">
    <h5 class="project-details__rewards-title">Récompenses</h5>
    <p class="project-details__rewards-price"><span>100€</span> ou Plus</p>
    <div class="project-details__rewards-img">
        <img src="{{ asset('landing/images/project/project-details-rewards-img.jpg') }}" alt="">
    </div>
    <p class="project-details__rewards-text-1">Description de la récompense. Lorem ipsum dolor sit amet, piscing elit. Vivamus dictum congue nunc.</p>
    <p class="project-details__rewards-date">20 July, 2024</p>
    <p class="project-details__rewards-delivery">Livraison Estimée</p>
    <ul class="list-unstyled project-details__rewards-bottom">
        <li>
            <div class="icon">
                <i class="fas fa-user-circle"></i>
            </div>
            <div class="text">
                <p>1 Contributeur</p>
            </div>
        </li>
        <li>
            <div class="icon">
                <i class="fas fa-trophy"></i>
            </div>
            <div class="text">
                <p>1 Contributeur</p>
            </div>
        </li>
    </ul>
    <div class="project-details__rewards-btn-box">
        <a href="#" class="thm-btn project-details__rewards-btn">Choisir une Récompense</a>
    </div>
</div>
