{# templates/components/project-details/statistics.html.twig #}
<ul class="list-unstyled project-details-top__list">
    <li>
        <div class="project-details-top__list-content">
            <h3>{{ project.receivedAmount|number_format(2, ',', ' ') }} €</h3>
            <p>Collecté</p>
        </div>
    </li>
    <li>
        <div class="project-details-top__list-content">
            <h3>{{ project.reviews|length }}</h3>
            <p>Avis</p>
        </div>
    </li>
    <li>
        <div class="project-details-top__list-content">
            <h3>{{ project.daysLeft }}</h3>
            <p>Jours Restants</p>
        </div>
    </li>
</ul>
