<div class="search-popup">
    {# Search Overlay #}
    <div class="search-popup__overlay search-toggler"></div>

    {# Search Content #}
    <div class="search-popup__content">
        <form action="#" method="get">
            <label for="search" class="sr-only">rechercher ici</label>
            <input
                    type="text"
                    id="search"
                    name="q"
                    placeholder="Rechercher ici..."
                    required
            />
            <button type="submit" aria-label="soumettre la recherche" class="thm-btn">
                <i class="icon-magnifying-glass"></i>
            </button>
        </form>
    </div>
</div>
