{% extends 'admin/pages/setting/layout.html.twig' %}

{% block page_title %}Paramètres - Slider
{% endblock %}

{% block settings_content %}
    <div class="card mb-8">
        <div class="card-body p-0">
            {% include 'admin/pages/setting/slide/partials/_list.html.twig' %}
        </div>
    </div>
{% endblock %}
