{% extends 'emails/base.html.twig' %}

{% block body %}
    <h1>Welcome to Qrowd!</h1>
    <p>Thank you for registering. Please confirm your email address by clicking the button below:</p>
    
    <a href="{{ verificationUrl }}" class="btn">Verify my email</a>
    
    <p><small>This link will expire in 24 hours.</small></p>
    <p><small>If you did not create an account, please ignore this email.</small></p>
{% endblock %}
