{% extends 'admin/pages/setting/layout.html.twig' %}

{% block page_title %}Paramètres - FAQ - Création
{% endblock %}

{% block settings_content %}
    <div class="container-fixed max-w-3xl mx-auto">
        {# Page Header #}
        <div class="mb-8">
            <h1 class="text-2xl font-semibold text-gray-900 dark:text-white">Creation FAQ</h1>
            <p class="mt-2 text-sm text-gray-600 dark:text-gray-400">
                Mettez à jour les informations du FAQ.
            </p>
        </div>

        {% include 'admin/pages/setting/faq/partials/_form.html.twig' %}
    </div>
{% endblock %}
