{# templates/pages/news/details.html.twig #}
{% extends 'public/base.html.twig' %}

{% block title %}{{ article.title }} - Qrowd Crowdfunding Platform{% endblock %}

{% block content %}
    {# Include page header #}
    {% include 'public/components/page-header.html.twig' with {
        title: 'News Details',
        breadcrumbs: [
            {label: 'Home', path: 'landing.home'},
            {label: 'News', path: 'landing.news.index'},
            {label: article.title, path: null}
        ]
    } %}

    {# News Details Section #}
    <section class="news-details">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-7">
                    {% include 'public/components/news/article-content.html.twig' with { 
                        article: article,
                        commentForm: commentForm 
                    } %}
                </div>
                <div class="col-xl-4 col-lg-5">
                    {% include 'public/components/news/sidebar.html.twig' with { 
                        searchForm: searchForm,
                        latestArticles: latestArticles,
                        tags: article.tags
                    } %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
