{# templates/pages/news/index.html.twig #}
{% extends 'public/base.html.twig' %}

{% block title %}Actualités - Abeilles Solidaires{% endblock %}

{% block content %}
    {# Include page header component #}
    {% include 'public/components/page-header.html.twig' with {
        title: 'Actualités',
        subtitle: 'Restez informé de nos dernières actualités',
        breadcrumbs: [
            {label: 'Accueil', path: 'landing.home'},
            {label: 'Actualités', path: null}
        ]
    } %}

    <section class="news-page">
        <div class="container">
            <div class="row gy-4">
                {% for article in news %}
                    <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp mb-4" data-wow-delay="{{ loop.index * 100 }}ms">
                        {% include 'public/components/news/news-card.html.twig' with { article: article } %}
                    </div>
                {% endfor %}
            </div>

            <div class="row mt-5">
                <div class="col-12 d-flex justify-content-center">
                    {{ knp_pagination_render(news, 'public/components/pagination.html.twig') }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
