{% extends 'admin/layouts/default.html.twig' %}

{% set page_title = 'Paramètres' %}

{% block content %}
    <div class="container-fixed">
        {# Stats Cards Grid #}

        <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
            {# Main Content (Left Column) #}
            <div class="lg:col-span-2 space-y-6">
                {#                {% include 'user/pages/dashboard/partials/_matrix_visualization.html.twig' %} #}
                {#                {% include 'user/pages/dashboard/partials/_flower_progress.html.twig' %} #}
                {#                {% include 'user/pages/dashboard/partials/_recent_activity.html.twig' %} #}
            </div>

            {# Sidebar Content (Right Column) #}
            <div class="space-y-6">
                {#                {% include 'user/pages/dashboard/partials/_account_status.html.twig' %} #}
                {#                {% include 'user/pages/dashboard/partials/_direct_children.html.twig' %} #}
            </div>
        </div>
    </div>

{% endblock %}
